@charset "utf-8";
/* CSS Document */

body {
	line-height:1.5;
	font-family:"Montserrat";
	background-color:rgb(255,255,255);
    color: #212121;
    overflow-x: hidden;
}

@font-face {
	font-family:"Montserrat-Regular";
	src:url("../fonts/montserrat/Montserrat-Regular.otf") format('otf');
}

/************************************************************ GENERAL ****/
*::-moz-selection {
background:#ff9800;
color:#ffffff;
}
*::selection {
background:#ff9800;
color:#ffffff;
}
a {
	text-decoration:none;
}
.left {
	float:left !important;
}
.right {
	float:right !important;
}
.clear {
	clear:both !important;
}
.line {
    position: relative;
	float:left;
	clear:both;
	width:100%;
	padding:5px 0;
}
.size, section {
    width: 100%;
    max-width: 900px;
}
header {
    position: relative;
    width: 100%;
    height: 680px;
    background-image: url(../images/img_bg@2x.png);
    background-image: 
        -webkit-image-set(
        "../images/img_bg.png" 1x,
        "../images/img_bg@2x.png" 2x,
    );
    background-image: 
        image-set(
        "../images/img_bg.png" 1x,
        "../images/img_bg@2x.png" 2x,
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
header .gray {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #212121;
    opacity: .75; 
}
header .hcontent {
    position: relative;
    height: 100px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
header img {
    margin-top: 30px;
}
header nav {
    float: right;
    position: relative;
}
header nav li {
    font-family: "Montserrat-Regular";
    float: left;
    display: inline;
    margin: 40px 0 0;
}
header nav li:hover {
    border-bottom: 4px solid #33C45F;
}
header nav li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 12px 9.25px;
}
header .call {
    position: relative;
    text-align: center;
    color: #fff;
    margin: 80px auto 0;
    z-index: 1;
}
header .call h2 {
    font-family:"Lato";
    font-size: 54px;
    font-weight: 300px;
    line-height: 64px;
    margin: 24px;
}
header .call p {
    font-family:"Lato";
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
}
.projects {
    margin: 75px auto;   
}
.projects .retangle {
    width: 136px;
    height: 2px;
    background: #D25CF1;
}
.projects h1 {
    font-family:"Montserrat-Regular";
    font-weight: normal;
    font-size: 44px;
    line-height: 54px;
    margin: 24px 0;
    color: #212121;
}
.projects h4 {
    font-family:"Lato";
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    color: rgba(0,0,0,0.54);
}
.projects .saldometro {
    width: 100%;
    padding: 44px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
    border-radius: 4px;
    margin: 64px 0;
    float: left;
    background-image: url(../images/saldometro@2x.png);
    background-image: 
        -webkit-image-set(
        "../images/saldometro.png" 1x,
        "../images/saldometro@2x.png" 2x,
    );
    background-image: 
        image-set(
        "../images/saldometro.png" 1x,
        "../images/saldometro@2x.png" 2x,
    );
    background-position:95% 100%;
    background-size: 380px;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.projects .saldometro h5 {
    width: 167px;
    height: 34px;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    color: #33C45F;
}
.projects .faces {
    float: left;
    margin: 32px 0;
}
.projects .faces .face {
    float: left;
    display: inline;
    margin: 20px 4px 0 4px;
    width: 44px;
    height: 44px;
}
.projects .faces .face:first-child {
    margin: 0 4px;
    width: 64px;
    height: 64px;
}
.projects .faces .face img {
    width: 100%;
}
.projects .face-plus {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #F5A623;
}
.projects .face-plus:hover {
    background: #33C45F;
}
.projects .face-plus a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 34px;
    padding: 5px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.projects p {
    float: left;
    clear: both;
    width: 50%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: rgba(0,0,0,0.54);
}
.projects .icons {
    float: left;
    clear: both;
    margin: 35px 0 0 0;
}
.projects .icons img {
    width: 34.5px;
    height: 39px;
    margin: 0 20.72px 0 0;
}


/************************************************************ MEDIA PRINT ****/
@media print {
}


/************************************************************ RESPONSIVE ****/
@media only screen and (max-width: 900px) {
    header .hcontent {
        padding-left: 20px;
        padding-right: 20px;
    }
}