@charset "utf-8";
/* CSS Document */

body {
	position:absolute;
    width:100%;
	height:100%;
	line-height:1.5;
	font-family:"Lato";
	background-color:rgb(241,242,247);
    color: #333;
    overflow-x: hidden;
}

@font-face {
	font-family:"Montserrat-Regular";
	src:url("../fonts/montserrat/Montserrat-Regular.otf") format('otf');
}

/************************************************************ GENERAL ****/
*::-moz-selection {
background:#ff9800;
color:#ffffff;
}
*::selection {
background:#ff9800;
color:#ffffff;
}
a {
	text-decoration:none;
}
.left {
	float:left !important;
}
.right {
	float:right !important;
}
.clear {
	clear:both !important;
}
.line {
    position: relative;
	float:left;
	clear:both;
	width:100%;
	padding:5px 0;
}
.size, section {
    width: 100%;
    max-width: 900px;
}
header {
    position: relative;
    width: 100%;
    height: 680px;
    background-color: #212121;
    
}
header::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/img_bg@2x.png);
    background-image: 
        -webkit-image-set(
        "../images/img_bg.png" 1x,
        "../images/img_bg@2x.png" 2x,
    );
    background-image: 
        image-set(
        "../images/img_bg.png" 1x,
        "../images/img_bg@2x.png" 2x,
    );
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: .25; 
}
header .hcontent {
    position: relative;
    height: 100px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header img {
    margin-top: 30px;
}
header nav {
    float: right;
    position: relative;
}
header nav li {
    font-family: "Montserrat-Regular";
    float: left;
    display: inline;
    margin: 40px 0 0;
}
header nav li:hover {
    border-bottom: 4px solid #33C45F;
}
header nav li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 12px 9.25px;
}
header .call {
    text-align: center;
    color: #fff;
    margin: 80px auto 0;
}
header .call h3 {
    font-family:"Lato";
    font-size: 54px;
    font-weight: 300px;
    line-height: 64px;
    margin: 24px;
}
header .call p {
    font-family:"Lato";
    font-size: 24px;
    font-weight: 100px;
    line-height: 29px;
}
section {
    
}



/************************************************************ MEDIA PRINT ****/
@media print {
}


/************************************************************ RESPONSIVE ****/
@media only screen and (max-width: 900px) {
    header .hcontent {
        padding-left: 20px;
        padding-right: 20px;
    }
}